
.cuerpo{
p{
		position: relative;
		top: 30px;
		
}
img{
		width: 100%;
		position: relative;
		top: 80px;
	}

}
h1{
	@include texto (1.5rem, 2, $secondaryColor);
}
h2{
	@include texto (1.5rem, 2, $secondaryColor);
}
h5{
	@include texto (1.5rem, 2, $secondaryColor);
}

