
.cuerpo{
p{
		position: relative;
		top: 30px;
		
}
img{
		width: 100%;
		position: relative;
		top: 80px;
	}

}
h1{
	@include texto ($textMd, 2, $secondaryColor);
}
h2{
	@include texto ($textMd, 2, $secondaryColor);
}
h5{
	@include texto ($textMd, 2, $secondaryColor);
}
.formulario{
	margin: 15px;
	position: 15px;
}
