@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
$mainFont: "kdam thmor pro", sans-serif;
$textMd:1.3rem;
$textLg:1.8rem;
$Color:gainsboro;
$line-height: 2.5;
$fontSize: 62.5%;

