.base{
	section{
		position: relative;
		bottom: auto;
		text-align:center;
		position: relative;
		p{
			font-size:$textMd; 
			color:$keyColor; 
		}
	a{
		display:inline;
		left:40px;
		margin: 5px;
		position: 5px;
	}
	img{
		width:35px;
	}

	}
}
	.scale:hover{
	transform: scale(1.6);
}